# it's a java properties file used for the auto-releasing process in :uploader

# oauth for a modrinth app
# also a staging one is available under "modrinth_staging_uploader_..."
modrinth_uploader_client_id=12345678
modrinth_uploader_client_secret=xxxxxxxxxxxxxxxxxxx

# curseforge api key, sadly no oauth to reduce the scope
curseforge_api_key=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
